body{

font-family: Helvetica, Verdana, Arial, Geneva, sans-serif;
font-size: 12px;
background: #f5f5f5;

}
a {
color: #008746;
text-decoration: none;
}
#internal {
    display:none;
    min-width: 166px;
}

#switch{
    display:none;
    min-width: 120px;
}

#switch .inline {
    display: inline;
}

#buttons {
	margin-top: 18px;
	text-align: center;
}
#global {
	text-align: center;

}

#local {
	text-align: center;
}