/* remove for horizontal tab bar */
.ui-tabs-vertical.eexcess {
    width: 45em;
    font-size: 11px !important;
    color: grey !important;

}

.ui-tabs-vertical.eexcess a:link {
    color: grey !important;
}

.ui-tabs-vertical.eexcess .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: auto;
}

.ui-tabs-vertical.eexcess .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}

.ui-tabs-vertical.eexcess .ui-tabs-nav li a {
    display: block;
}

.ui-tabs-vertical.eexcess .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
}

.ui-tabs-vertical.eexcess .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: 30em;
}

/*####################################################*/

#eexcess_close {
    position: absolute;
    z-index: 99999;
    width: 35px;
    height: 35px;
    top: -19px;
    right: -18px;
    cursor: pointer;
}

#eexcess-tabBar-contentArea {
    position: fixed;
    width: 40%;
    height: 70%;
    bottom: 20px;
    right: 0px;
    z-index: 99999;
    border: none;
    background: none;
}

#eexcess-tabBar-jQueryTabsHeader {
    cursor: move;
    width: 99%;
    height: 99%;
    z-index: 9999;
    border: none;
    background-color: rgba(0,0,0,0.0);
}

#eexcess-tabBar-jQueryTabsContent {
    position: relative;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgb(170, 170, 170);
    background-color: white;
}

#eexcess-tabBar-iframeCover {
    position: absolute;
    opacity: 50;
    z-index: 999999;
    width: 100%;
    height: 100%;
}




#eexcess-tabBar-jQueryTabsContent iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


#eexcess_taglist {
    margin:0;
    background:rgba(0,0,0,0);
    border:none;
    float:left;
    margin-top:1px;
    overflow: initial;
}



.mainTopicDropActive {
    background-color:orange !important;
}

.mainTopicDropHover {
    background-color:green !important;
}

#eexcess_logo {
    position:absolute;
    width:100px;
}

#eexcess_loader {
    position: absolute;
    width: 30px;
    right: 10px;
}

#eexcess_result_indicator {
    text-decoration: none;
    font-weight: bold;
    color: #FFA706;    
    -webkit-text-fill-color: #FFA706;
    font-size: 12px;
    position: absolute;
    right: 44px;
}

.eexcess > .tagit-label{
    color:rgb(85,85,85) !important;
    font-size: 9pt !important;
    font-weight: normal;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


.tagit-choice.eexcess{
    padding-bottom: 2.2px !important;  
    padding-top: 2.2px !important;  
    padding-left: 5.5px !important;  
    padding-right: 18px !important;  
    line-height: normal !important;    
}

.eexcess > .tagit-new{
    padding:0 !important;
    margin: 1px 5px 2px 0px !important;
    background-image: none !important;
    background-color:rgba(0,0,0,0.0) !important;
    height:24px;
}

#eexcess_barLeft {
    flex:0 auto;
    order:1;
}

#eexcess_barRight {
    flex:0 auto;
    order:3;
    width:110px;
    padding-top:3px;
}

#eexcess_barMain {
    flex:1;
    order:2;
}

#eexcess_searchBar {
    -webkit-app-region: no-drag;
    -webkit-appearance: none;
    -webkit-background-composite: source-over;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-direction: normal;
    -webkit-box-flex: 0;
    -webkit-box-flex-group: 1;
    -webkit-box-lines: single;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-box-reflect: none;
    -webkit-column-break-after: auto;
    -webkit-column-break-before: auto;
    -webkit-column-break-inside: auto;
    -webkit-column-count: auto;
    -webkit-column-gap: normal;
    -webkit-column-rule-color: rgb(0, 0, 0);
    -webkit-column-rule-style: none;
    -webkit-column-rule-width: 0px;
    -webkit-column-span: none;
    -webkit-column-width: auto;
    -webkit-font-smoothing: auto;
    -webkit-highlight: none;
    -webkit-hyphenate-character: auto;
    -webkit-line-box-contain: block inline replaced;
    -webkit-line-break: auto;
    -webkit-line-clamp: none;
    -webkit-locale: "de";
    -webkit-margin-after-collapse: collapse;
    -webkit-margin-before-collapse: collapse;
    -webkit-mask-box-image: none;
    -webkit-mask-box-image-outset: 0px;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-mask-box-image-source: none;
    -webkit-mask-box-image-width: auto;
    -webkit-mask-clip: border-box;
    -webkit-mask-composite: source-over;
    -webkit-mask-image: none;
    -webkit-mask-origin: border-box;
    -webkit-mask-position: 0% 0%;
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: auto;
    -webkit-print-color-adjust: economy;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-combine: none;
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: rgb(0, 0, 0);
    -webkit-text-emphasis-position: over;
    -webkit-text-emphasis-style: none;
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-orientation: vertical-right;
    -webkit-text-security: none;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 0px;
    -webkit-user-drag: auto;
    -webkit-user-modify: read-only;
    -webkit-user-select: text;
    align-content: start;
    align-items: start;
    align-self: start;
    alignment-baseline: auto;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-blend-mode: normal;
    background-clip: border-box;
    background-color: rgba(244, 244, 244,0.9);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
    baseline-shift: 0px;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-collapse: separate;
    -webkit-border-image: none;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(0, 0, 0);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(0, 0, 0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: none;
    border-top-width: 0px;
    bottom: 0px;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
    box-sizing: content-box;
    buffered-rendering: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    clip-path: none;
    clip-rule: nonzero;
    color: rgb(0, 0, 0);
    color-interpolation: sRGB;
    color-interpolation-filters: linearRGB;
    color-rendering: auto;
    cursor: auto;
    cx: 0px;
    cy: 0px;
    direction: ltr;
    display: flex;
    dominant-baseline: auto;
    empty-cells: show;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    filter: none;
    flex-basis: auto;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 1;
    float: none;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-kerning: auto;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
    glyph-orientation-horizontal: 0deg;
    glyph-orientation-vertical: auto;
    image-rendering: auto;
    isolation: auto;
    justify-content: start;
    left: 0px;
    letter-spacing: normal;
    lighting-color: rgb(255, 255, 255);
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    marker-end: none;
    marker-mid: none;
    marker-start: none;
    mask: none;
    mask-type: luminance;
    max-height: none;
    max-width: none;
    min-height: 48px;
    min-width: 0px;
    mix-blend-mode: normal;
    object-fit: fill;
    object-position: 50% 50%;
    opacity: 1;
    order: 0;
    orphans: auto;
    outline-color: rgb(0, 0, 0);
    outline-offset: 0px;
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: normal;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0px;
    padding-top:5px;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    paint-order: fill stroke markers;
    perspective: none;
    perspective-origin: 791px 20px;
    pointer-events: auto;
    position: fixed;
    r: 0px;
    resize: none;
    right: auto;
    rx: 0px;
    ry: 0px;
    shape-image-threshold: 0;
    shape-margin: 0px;
    shape-outside: none;
    shape-rendering: auto;
    speak: normal;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke: none;
    stroke-dasharray: none;
    stroke-dashoffset: 0px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    table-layout: auto;
    text-align: left;
    text-anchor: start;
    text-decoration: none;
    text-indent: 0px;
    text-overflow: clip;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    top: auto;
    touch-action: auto;
    transform: none;
    transform-origin: 791px 20px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vector-effect: none;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 1;
    will-change: auto;
    width:100%;
    word-break: normal;
    word-spacing: 0px;
    word-wrap: normal;
    writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    x: 0px;
    y: 0px;
    z-index: 99999;
    zoom: 1;
}

#eexcess_selectmenu {
    -webkit-app-region: no-drag;
    -webkit-appearance: menulist-button;
    -webkit-background-composite: source-over;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-direction: normal;
    -webkit-box-flex: 0;
    -webkit-box-flex-group: 1;
    -webkit-box-lines: single;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-box-reflect: none;
    -webkit-column-break-after: auto;
    -webkit-column-break-before: auto;
    -webkit-column-break-inside: auto;
    -webkit-column-count: auto;
    -webkit-column-gap: normal;
    -webkit-column-rule-color: #484847;
    -webkit-column-rule-style: none;
    -webkit-column-rule-width: 0px;
    -webkit-column-span: none;
    -webkit-column-width: auto;
    -webkit-font-smoothing: auto;
    -webkit-highlight: none;
    -webkit-hyphenate-character: auto;
    -webkit-line-box-contain: block inline replaced;
    -webkit-line-break: auto;
    -webkit-line-clamp: none;
    -webkit-locale: "de";
    -webkit-margin-after-collapse: collapse;
    -webkit-margin-before-collapse: collapse;
    -webkit-mask-box-image: none;
    -webkit-mask-box-image-outset: 0px;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-mask-box-image-source: none;
    -webkit-mask-box-image-width: auto;
    -webkit-mask-clip: border-box;
    -webkit-mask-composite: source-over;
    -webkit-mask-image: none;
    -webkit-mask-origin: border-box;
    -webkit-mask-position: 0% 0%;
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: auto;
    -webkit-print-color-adjust: economy;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: #484847;
    -webkit-text-combine: none;
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: #484847;
    -webkit-text-emphasis-position: over;
    -webkit-text-emphasis-style: none;
    -webkit-text-fill-color: #484847;
    -webkit-text-orientation: vertical-right;
    -webkit-text-security: none;
    -webkit-text-stroke-color: #484847;
    -webkit-text-stroke-width: 0px;
    -webkit-user-drag: auto;
    -webkit-user-modify: read-only;
    -webkit-user-select: text;
    align-content: start;
    align-items: center;
    align-self: start;
    alignment-baseline: auto;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-blend-mode: normal;
    background-clip: border-box;
    background-color: rgba(0, 0, 0,0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
    baseline-shift: 0px;
    border-bottom-color: rgb(102, 102, 102);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: separate;
    -webkit-border-image: none;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(102, 102, 102);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(102, 102, 102);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(102, 102, 102);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    bottom: auto;
    box-shadow: rgba(0, 0, 0, 0.247059) 1px 1px 2px 0px inset;
    box-sizing: border-box;
    buffered-rendering: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    clip-path: none;
    clip-rule: nonzero;
    color: #484847;
    color-interpolation: sRGB;
    color-interpolation-filters: linearRGB;
    color-rendering: auto;
    cursor: default;
    cx: 0px;
    cy: 0px;
    direction: ltr;
    display: block;
    dominant-baseline: auto;
    empty-cells: show;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    filter: none;
    flex-basis: auto;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    float: left;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-kerning: auto;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
    glyph-orientation-horizontal: 0deg;
    glyph-orientation-vertical: auto;
    height: 21px;
    image-rendering: auto;
    isolation: auto;
    justify-content: start;
    left: auto;
    letter-spacing: normal;
    lighting-color: #484847;
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 3px;
    marker-end: none;
    marker-mid: none;
    marker-start: none;
    mask: none;
    mask-type: luminance;
    max-height: none;
    max-width: none;
    min-height: 15px;
    min-width: 0px;
    mix-blend-mode: normal;
    object-fit: fill;
    object-position: 50% 50%;
    opacity: 1;
    order: 0;
    orphans: auto;
    outline-color: #484847;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: normal;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    paint-order: fill stroke markers;
    perspective: none;
    perspective-origin: 61px 10.5px;
    pointer-events: auto;
    position: static;
    r: 0px;
    resize: none;
    right: auto;
    rx: 0px;
    ry: 0px;
    shape-image-threshold: 0;
    shape-margin: 0px;
    shape-outside: none;
    shape-rendering: auto;
    speak: normal;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke: none;
    stroke-dasharray: none;
    stroke-dashoffset: 0px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    table-layout: auto;
    text-align: start;
    text-anchor: start;
    text-decoration: none;
    text-indent: 0px;
    text-overflow: clip;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    top: auto;
    touch-action: auto;
    transform: none;
    transform-origin: 61px 10.5px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vector-effect: none;
    vertical-align: baseline;
    visibility: visible;
    white-space: pre;
    widows: 1;
    will-change: auto;
    word-break: normal;
    word-spacing: 0px;
    word-wrap: normal;
    writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    x: 0px;
    y: 0px;
    z-index: auto;
    zoom: 1;
}


#eexcess_searchBar input.ui-widget-content {
    -webkit-app-region: no-drag;
    -webkit-appearance: none;
    -webkit-background-composite: source-over;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-direction: normal;
    -webkit-box-flex: 0;
    -webkit-box-flex-group: 1;
    -webkit-box-lines: single;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-box-reflect: none;
    -webkit-column-break-after: auto;
    -webkit-column-break-before: auto;
    -webkit-column-break-inside: auto;
    -webkit-column-count: auto;
    -webkit-column-gap: normal;
    -webkit-column-rule-color: rgb(255, 255, 255);
    -webkit-column-rule-style: none;
    -webkit-column-rule-width: 0px;
    -webkit-column-span: none;
    -webkit-column-width: auto;
    -webkit-font-smoothing: auto;
    -webkit-highlight: none;
    -webkit-hyphenate-character: auto;
    -webkit-line-box-contain: block inline replaced;
    -webkit-line-break: auto;
    -webkit-line-clamp: none;
    -webkit-locale: "de";
    -webkit-margin-after-collapse: collapse;
    -webkit-margin-before-collapse: collapse;
    -webkit-mask-box-image: none;
    -webkit-mask-box-image-outset: 0px;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-mask-box-image-source: none;
    -webkit-mask-box-image-width: auto;
    -webkit-mask-clip: border-box;
    -webkit-mask-composite: source-over;
    -webkit-mask-image: none;
    -webkit-mask-origin: border-box;
    -webkit-mask-position: 0% 0%;
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: auto;
    -webkit-print-color-adjust: economy;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-combine: none;
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: rgb(255, 255, 255);
    -webkit-text-emphasis-position: over;
    -webkit-text-emphasis-style: none;
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-orientation: vertical-right;
    -webkit-text-security: none;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0px;
    -webkit-user-drag: auto;
    -webkit-user-modify: read-only;
    -webkit-user-select: text;
    align-content: start;
    align-items: start;
    align-self: start;
    alignment-baseline: auto;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-blend-mode: normal;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.0);
    background-image: none;
    background-origin: padding-box;
    background-position: 50% 50%;
    background-repeat: repeat-x;
    background-size: auto;
    baseline-shift: 0px;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-collapse: separate;
    -webkit-border-image: none;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: 0px;
    bottom: auto;
    box-shadow: none;
    box-sizing: border-box;
    buffered-rendering: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    clip-path: none;
    clip-rule: nonzero;
    color: rgb(0, 0, 0);
    color-interpolation: sRGB;
    color-interpolation-filters: linearRGB;
    color-rendering: auto;
    cursor: auto;
    cx: 0px;
    cy: 0px;
    direction: ltr;
    display: block;
    dominant-baseline: auto;
    empty-cells: show;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    filter: none;
    flex-basis: auto;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    float: none;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Verdana, Arial, sans-serif;
    font-kerning: auto;
    font-size: 13px !important;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
    glyph-orientation-horizontal: 0deg;
    glyph-orientation-vertical: auto;
    height: 24px;
    image-rendering: auto;
    isolation: auto;
    justify-content: start;
    left: auto;
    letter-spacing: normal;
    lighting-color: rgb(255, 255, 255);
    line-height: 15.6px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    marker-end: none;
    marker-mid: none;
    marker-start: none;
    mask: none;
    mask-type: luminance;
    max-height: none;
    max-width: none;
    min-height: 0px;
    min-width: 0px;
    mix-blend-mode: normal;
    object-fit: fill;
    object-position: 50% 50%;
    opacity: 1;
    order: 0;
    orphans: auto;
    outline-color: rgb(255, 255, 255);
    outline-offset: 0px;
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: normal;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    paint-order: fill stroke markers;
    perspective: none;
    perspective-origin: 82.5px 12px;
    pointer-events: auto;
    position: static;
    r: 0px;
    resize: none;
    right: auto;
    rx: 0px;
    ry: 0px;
    shape-image-threshold: 0;
    shape-margin: 0px;
    shape-outside: none;
    shape-rendering: auto;
    speak: normal;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke: none;
    stroke-dasharray: none;
    stroke-dashoffset: 0px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    table-layout: auto;
    text-align: start;
    text-anchor: start;
    text-decoration: none;
    text-indent: 0px;
    text-overflow: clip;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    top: auto;
    touch-action: auto;
    transform: none;
    transform-origin: 82.5px 12px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vector-effect: none;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 1;
    will-change: auto;
    word-break: normal;
    word-spacing: 0px;
    word-wrap: normal;
    writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    x: 0px;
    y: 0px;
    z-index: auto;
    zoom: 1;
}


#eexcess_mainTopic {
    display:inline;
    float:left;
    text-align: center;
    padding-top: 6px;
    padding-right:8px;
    padding-left:8px;
    background-color:rgba(255,255,255,0.7);
    border-radius:5px 5px 0px 0px;
    height:100%;
    margin-left:10px;
    margin-right:5px;
}

#eexcess_mainTopicLabel{
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align:center;
    border:none;
    background-color:rgba(0,0,0,0.0);
}

.eexcess_hiddenLabelSpan{
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align:center;
    border:none;
    background-color:rgba(0,0,0,0.0);
}

#eexcess_mainTopicDesc {
    margin: 0;
    padding: 0;
    opacity:0.8;
    margin-top:6px;
    border-top:1px solid gray;
}

#eexcess_taglistDesc{
    margin: 0;
    padding: 0;
    opacity:0.8;
    text-align:center;
    clear:both;
    margin-bottom:4px;
}